#tree{
    color: green;
    font-size: 50px;
    padding: 10%;
}
#bird{
    color: chartreuse;
    font-size: 50px;
    padding: 10%;

}
#arrows{
    color: blue;
    font-size: 50px;
    padding: 10%;
}
#home{
    color: darkmagenta;
    font-size: 50px;
    padding: 10%;
}