body{
    text-align: center;
}
div{
    width: 50px;
    height: 50px;
    background-color: red;
    position: relative;
    animation: myRectangle 5s;
    -webkit-animation: myRectangle 5s;
    animation-iteration-count: infinite;
}
@keyframes myRectangle{
    0% {background-color: red; left: 0px;top: 0px; }
    25% {background-color: blue; left: 700px;top: 0px;}
    50% {background-color: green; left: 700px;top: 700px;}
    75% {background-color: yellow; left: 0px; top: 700px;}
    100% {background-color: red; left: 0px; top: 0px;}
}

@-webkit-keyframes myRectangle{
    0% {background-color: red;left: 0px;top: 0px; }
    25% {background-color: blue;left: 700px;top: 700px;}
    50% {background-color: green;left: 0px;top: 700px;}
    75% {background-color: yellow;left: 700px; top: 700px;}
    100% {background-color: red;left: 0px; top: 0px;}
}