div{
    position: absolute;
    width: 50px;
    height: 50px;
}
.rede{
    left: 0px;
    background-color: red;
    color: white;
}
.green{
    right: 0px;
    background-color: green;
    color: white;
}
.yellow{
    top: 400px;
    background-color: yellow;
    color: white;
}
.blue{
    bottom: 150px;
    background-color: blue;
    color: black;
}