body{
    position: absolute;
    top: 500px;
}
ul{
    position: sticky;
    bottom: 500px;
    list-style-type: none;
    background-color: lightgray;
    padding: 5px;
}
.list{
    position: sticky;
    top: 0px;
}
li{
    display: inline;
    padding: 5px;
    color: blue;
}
li:hover{
    background-color: gray;
    color: white;
}